* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: aliceblue;
}

.head {
    background-color: white;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}

.container {
    background-color: white;
    width: 1200px;
    margin: 30px 100px;
    padding: 10px 50px;
    display: inline-block;
}

hr {
    border-style: solid;
    color: aliceblue;
    margin-inline-start: -50px;
    border-width: 3px;
}

.section {
    font-size: 10px;
    padding: 10px 0px;
}

.list-section {
    font-size: 15px;
    margin: 30px 0px;
    padding: 10px 0px; 
}

.blue-1 {
    font-size: 15px;
    display: inline-block;
    background-color: rgba(0, 0, 255, 0.603);
    border-radius: 5px;
    padding: 5px;
    outline: 1px solid;
}

.white-1 {
    font-size: 15px;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    outline: 1px solid black;
}

.no-bullet {
    list-style-type: none;
}

.strong-text {
    font-size: 20px;
    font-weight: bold;
}

.check {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid green ;
    color: green;
    font-size: 10px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}

.cross {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid red ;
    color: red;
    font-size: 10px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
}

.inertext {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.blue-2 {
    display: inline;
    background-color: rgba(6, 99, 220, 0.603);
    border-radius: 5px;
    padding: 5px;
    outline: 1px solid;
    display: inline-block;
}

.purple {
    display: inline;
    background-color: purple;
    border-radius: 5px;
    padding: 5px;
    outline: 1px solid;
    display: inline-block;
}

.orange {
        display: inline;
        background-color: orange;
        border-radius: 5px;
        padding: 5px;
        outline: 1px solid;
        display: inline-block;
}

.yellow {
    display: inline;
    background-color: yellow;
    border-radius: 5px;
    padding: 5px;
    outline: 1px solid;
    display: inline-block;
}

